In [1]:
import csv
from io import BytesIO
import pandas as pd
import requests
from bs4 import BeautifulSoup
#這段在說你瀏覽器的規格
head={'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
#輸入第9行的網址就會直接下載到最新的cfnai的excel檔案
url = 'https://www.chicagofed.org/~/media/publications/cfnai/cfnai-data-series-xlsx.xlsx?la=en'
#把下載的excel檔案存在download內
download=requests.get(url, headers=head)
#取出來存成dataframe的資料格式
df =  pd.read_excel(BytesIO(download.content))
#篩出1980年以後的資料，同學要學會dataframe的資料處理寫法(可以多問資工系的夥伴
df=df[(df.Date.dt.year>=1980)]
#可以看出有很多的欄位但我們只要的是CFNAI_MA3跟Date的欄位
df.head()

          Date   P_I  EU_H   C_H  SO_I  CFNAI  CFNAI_MA3  DIFFUSION
154 1980-01-31  0.00 -0.13  0.06  0.14   0.07      -0.19      -0.12
155 1980-02-29 -0.21 -0.14 -0.17 -0.21  -0.72      -0.28      -0.15
156 1980-03-31 -0.52 -0.23 -0.25 -0.54  -1.54      -0.73      -0.34
157 1980-04-30 -1.32 -1.31 -0.30 -0.61  -3.53      -1.93      -0.71
158 1980-05-31 -1.72 -1.16 -0.22 -0.57  -3.66      -2.91      -0.84

In [2]:
#將Date欄位設為資料的index
df.set_index('Date', inplace=True)
#取出CFNAI_MA3的欄位資料存在d中(這時候資料的index就會是Date)
d = df.CFNAI_MA3
#將d變成dataframe的格式
d = d.to_frame()
#顯示出前五項來
d.head()

            CFNAI_MA3
Date
1980-01-31      -0.19
1980-02-29      -0.28
1980-03-31      -0.73
1980-04-30      -1.93
1980-05-31      -2.91

In [3]:
#將原本是index的Date變成一般的欄位
d.reset_index(inplace=True)
#d就是你們最終的結果
d.head()

        Date  CFNAI_MA3
0 1980-01-31      -0.19
1 1980-02-29      -0.28
2 1980-03-31      -0.73
3 1980-04-30      -1.93
4 1980-05-31      -2.91