In [10]:
import csv
from io import BytesIO
import pandas as pd
import requests
from bs4 import BeautifulSoup
from pandas_datareader import data, wb
from pandas.tseries.offsets import MonthEnd
import datetime

head={'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
url = 'https://fred.stlouisfed.org/graph/fredgraph.xls?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=748&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=UMCSENT&scale=left&cosd=1952-11-01&coed=2018-09-30&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2018-12-21&revision_date=2018-12-21&nd=1952-11-01'
#從url存下來的檔案放在download變數中
download=requests.get(url, headers=head)
#將該變數轉成pandas的dataframe格式
df =  pd.read_excel(BytesIO(download.content))
#印出dataframe格式前20項row，會發現從index 0-9的 row是我們不要的資料
df.head(20)

,FRED Graph Observations,Unnamed: 1
0,Federal Reserve Economic Data,NaN
1,Link: https://fred.stlouisfed.org,NaN
2,Help: https://fred.stlouisfed.org/help-faq,NaN
3,Economic Research Division,NaN
4,Federal Reserve Bank of St. Louis,NaN
5,NaN,NaN
6,UMCSENT,"University of Michigan: Consumer Sentiment, In..."
7,NaN,NaN
8,Frequency: Monthly,NaN
9,observation_date,UMCSENT
10,1952-11-01 00:00:00,86.2
11,1952-12-01 00:00:00,0
12,1953-01-01 00:00:00,0
13,1953-02-01 00:00:00,90.7
14,1953-03-01 00:00:00,0
15,1953-04-01 00:00:00,0
16,1953-05-01 00:00:00,0
17,1953-06-01 00:00:00,0
18,1953-07-01 00:00:00,0
19,1953-08-01 00:00:00,80.8

In [11]:
#把index 0-9的資料drop(丟)掉
df = df.drop(df.index[[0,1,2,3,4,5,6,7,8,9]])
#顯示d出前5項row
df.head()

   FRED Graph Observations Unnamed: 1
10     1952-11-01 00:00:00       86.2
11     1952-12-01 00:00:00          0
12     1953-01-01 00:00:00          0
13     1953-02-01 00:00:00       90.7
14     1953-03-01 00:00:00          0

In [12]:
#如果Unnamed的欄位內有任何的數值不等於0，則保留下來
df = df[(df[['Unnamed: 1']] != 0).all(1)]
df.head()

   FRED Graph Observations Unnamed: 1
10     1952-11-01 00:00:00       86.2
13     1953-02-01 00:00:00       90.7
19     1953-08-01 00:00:00       80.8
22     1953-11-01 00:00:00       80.7
25     1954-02-01 00:00:00         82

In [13]:
#將FRED Graph Observations欄位的名稱改為Date
df = df.rename(columns = {'FRED Graph Observations':'Date'})
#將Unnamed: 1欄位的名稱改為Value
df = df.rename(columns = {'Unnamed: 1':'Value'})
#這時會發現index是亂跳的 10->13->19 ....
df.head(10)

                   Date Value
10  1952-11-01 00:00:00  86.2
13  1953-02-01 00:00:00  90.7
19  1953-08-01 00:00:00  80.8
22  1953-11-01 00:00:00  80.7
25  1954-02-01 00:00:00    82
28  1954-05-01 00:00:00  82.9
34  1954-11-01 00:00:00    87
37  1955-02-01 00:00:00  95.9
40  1955-05-01 00:00:00  99.1
46  1955-11-01 00:00:00  99.7

In [5]:
#重新安排index，雖然index整理好了但會發現時間居然有道小時-分-秒 但我們只要年-月-日而已
df = df.reset_index(drop=True)
df.head()

                  Date Value
0  1952-11-01 00:00:00  86.2
1  1953-02-01 00:00:00  90.7
2  1953-08-01 00:00:00  80.8
3  1953-11-01 00:00:00  80.7
4  1954-02-01 00:00:00    82

In [6]:
#將時間格從新整理我們要的年-月-日格式
df['Date'] = pd.to_datetime(df['Date'], format="%Y%m%d")
df.head()

        Date Value
0 1952-11-01  86.2
1 1953-02-01  90.7
2 1953-08-01  80.8
3 1953-11-01  80.7
4 1954-02-01    82